/@cmake/
/cmake/
/cmake@/
/@env/
/env/
/env@/
/.mepo/
parallel_build.o*
log.*
CMakeUserPresets.json

*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/

*~
*.pyc

src/Applications/GrITAS_Plot/regions.yaml
src/Applications/GrITAS_Plot/my_test/plot_util.py
src/Applications/GrITAS_Plot/my_test/common.py
