#
# GrITAS Resource file.
#
#

# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1 2 3 4 5

GrITAS*Vertical_Lev_Units: 1

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt    var name      kx's
   40    mhs           819
::
