#
# GrITAS Resource file.
#
#
                                                                                                                                
# The entry below allows calculation of the ensemble spread (in ob-space) when
# combined with the program -fobloc option to generate the forecast (background)
# at ob-locations.
#GrITAS*ODSmean_template: means/ensmean_conv_ges.%y4%m2%d2_%h2z.ods

# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1000 925 850 700 500 400 300 250 200 
                                                                                                                                
# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt    var name      kx's
    4    uacairep     230
    5    vacairep     230
    4    uacsdar      231
    5    vacsdar      231
    4    uacmdcars    233
    5    vacmdcars    233
::
